*{
    font-weight: 700;
}
body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #f88f0f;
    height: 100px;
}
main{
    background-color: #3dd8d0;
    height:500px;
    width:70%;
}
aside{
    background-color: #b39273;
    height:500px;
    width:30%;
}
.real-main{
    display: flex;
    justify-content: space-between;
}
.middle-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article{
    display:flex;
}
.article1{
    background-color: #98e491;
    height:100px;
    width:33.33%;
}
.article2{
    background-color: #c49fee;
    height:100px;
    width:33.33%;
}
.article3{
    background-color: #dc7676;
    height:100px;
    width:33.33%;
}
footer{
    background-color: #f88f0f;
    height: 100px;
}